@charset "utf-8";
/* CSS Document */

html, body{
	margin:0px;
	padding:0px;
	height:100vh;
	width: 100vw;
	
}

button{
	background-color: #000000;
	color: aliceblue;
	margin: 0 auto;
}

body{
	background-image: url("../image/IMG_20210615_235527.jpg");
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	overflow-x: hidden;
	overflow-y: hidden;
}

.inputs{
	width: 100px;
	height: 100px;
	margin: 50px auto;
	position: relative;
}

.inputs button{
	font-size: 15px;
}

